/*
 * 1. Carousel admin page
 * 2. Carousel preview
 * 3. Bootstrap tabs and tooltips
 */


/***************************
** 1. Carousel admin page **
***************************/

/* The toggle control */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
/* The switch (toggle control) */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox (toggle control)*/
.switch input {display:none;}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mlabs-carousel-shortcode {
	font-size: 16px;
	color: black;
  width:200px;
}

.mlabs_large_textbox {
  width: 361px;
}

.mlabs_heading{
	font-size: 23px;
	font-weight: 400;
	padding: 9px 15px 4px 0;
}
.mlabs_heading2{
	font-size: 23px;
	font-weight: 400;
	padding: 0px 0px 4px 0;
	line-height: 29px;
	margin-left: -120px;
}
#slr_carousel_preview_box{
	width:620px;
	height: 360px;
	margin-left: 20%;
	background-color: gray;
}
.mlabs_add_new_button{
	padding: 4px 8px;
	position: relative;
	top: -3px;
	text-decoration: none;
	border: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #e0e0e0;
	text-shadow: none;
	font-weight: 600;
	font-size: 13px;
	color: #0073aa;
	-webkit-transition-property: border,background,color;
	transition-property: border,background,color;
	-webkit-transition-duration: .05s;
	transition-duration: .05s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
#mlabs_carousel_preview{
  position: relative;
}
.mlabs_add_new_button:hover{
	background-color:#0073aa;
	cursor: pointer;
	color:white;
}

#mlabs_carousels_table .header{
	height: 28px;
	position: relative;
	line-height: 28px;
	border-radius: 3px 3px 0 0;
	font: normal normal bold 12px/29px Arial, serif;
	background: #F1F1F1;
}
.mlabs_delete_img{
	width: 12px;

}
.mlabs_edit_img{
	width: 24px;

}
.mlabs_preview_img{
	width: 18px;

}

.mlabs_close_table {
  border-bottom: 1px solid #aaa;
}

#mlabs_carousels_table{
	width: 97%;
 
	border-spacing: 0px;
}
#mlabs_carousels_table a:link {
	
	font-weight: bold;
	text-decoration:none;
}
#mlabs_carousels_table a:visited {
	
	font-weight:bold;
	text-decoration:none;
}
#mlabs_carousels_table a:active,
#mlabs_carousels_table a:hover {
	
	text-decoration:underline;
}
#mlabs_carousels_table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin-top:10px;
	border:#ccc 1px solid;
	width: 90%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
#mlabs_carousels_table th {
	padding:15px 25px 15px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
#mlabs_carousels_table th:first-child{
	text-align: left;
	padding-left:20px;
}
#mlabs_carousels_table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
#mlabs_carousels_table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
#mlabs_carousels_table tr{
	text-align: center;
	padding-left:20px;
}
#mlabs_carousels_table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
#mlabs_carousels_table tr td {
	padding:12px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
#mlabs_carousels_table tr .mlabs_chkcx_width{
	width:23px;
}
#mlabs_carousels_table tr .mlabs_amount_width{
	width:150px;
}
#mlabs_carousels_table tr .mlabs_options_width{
	width:50px;
}
#mlabs_carousels_table tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
#mlabs_carousels_table tr:last-child td{
	border-bottom:0;
}
#mlabs_carousels_table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
#mlabs_carousels_table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
#mlabs_carousels_table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

.carouseltitle_link a strong{
	color: #000;
}

#carousels_page_cont *{
	font-family: "Open Sans";
}

.button-danger {
 color: #fff;
 background-color: #d9534f;
 border-color: #d43f3a;
 display: inline-block;
 padding: 0 10px 1px;
 margin-bottom: 0;
 font-size: 13px;
 line-height: 26px;
 text-align: center;
 vertical-align: middle;
 -ms-touch-action: manipulation;
 touch-action: manipulation;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 background-image: none;
 border: 1px solid transparent;
 border-radius: 4px;
}

.button-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    text-decoration: none;
}

#mlabs_carousel_form .disabled_input {
  display:none;
}

button.close {
    -webkit-appearance: none;
    padding: 10px 10px 10px 2px;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 0.7;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=60);
    opacity: .5;
}

.close:focus, .close:hover {
    color: #ff0606;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=90);
    opacity: 1;
}

.mlabs-infobox {
  opacity:0.5;
  cursor:help;
  display:block;
  float:right;
}



	/**************************
	** 2. Carousel preview   **
	**************************/
.owl-carousel {
	max-width: 1100px; margin: auto; position: relative;
}


  /******************************
  ** 3. Bootstrap tabs&tooltips**
  ******************************/

/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  
}
a:hover,
a:focus {
  color: #23527c;
}
a:focus {
  outline-offset: -2px;
}
.nav-tabs > li > a {
  outline: none;
  box-shadow: none;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: inline-block;
  padding: 10px 15px 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
}

.nav > li:hover,
.nav > li:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > li.disabled > a {
  color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  font-size:15px;
}
.nav-tabs > li:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active,
.nav-tabs > li.active:hover,
.nav-tabs > li.active:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: pointer;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.clearfix:before,
.clearfix:after,
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.clearfix:after,
.nav:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
.fade.in {
    opacity: 1;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

/* END of the bootstrap we use */